@font-face{
    font-family: SourceSansPro-Light;
    src: url('./font/SourceSansPro-Light.otf');
}

@font-face{
    font-family: SourceSansPro-Semibold;
    src: url('./font/SourceSansPro-Semibold.otf');
}

body {
    font-size: 12px;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
}
.content {
	background-image: url('./img/bg.png') !important;
    background-repeat: repeat-y;
    text-align: justify;
}
body * {
	font-family: SourceSansPro-Light, sans-serif !important;
	-webkit-box-shadow:  0 0 0 0;
	box-shadow:  0 0 0 0;
}
.content {
	padding-top: 42px;
}
.top-bar h1 {
	margin-top: 15px;
}
.top-bar {
	height: 45px;
	background: #f7941d;
	margin-top: -13px;
	text-align: center;
	color: #f7f5ea;
	padding-top: 1px;
	position: fixed;
	width: 100%;
}
.ui-body-c, .ui-overlay-c {
	background-image: url('./img/bg.png') !important;
    background-repeat: repeat-y;
}
.img-container img {
	width: 100%;
}


.benefits-list {
	float: left;
	width: 60%;
}
.benefits-list ul {
	margin: 0;
}

#line {
	background-image: url('./img/members_line.png') !important;
	background-repeat: repeat-y;
	background-position: center;
}
.branch_left{
	left: 0px;
}

.branch_right{
	right: 0px;
}

.branch_left img{
	width: 50%;	
}

.branch_right img{
	width: 50%;	
}

.benefits-list h2 {
	font-size: 15px;
}
.tap-bar {
	text-align: center;
    background-image: url('./img/tabbar-bg.png');
    width: 100%;
    position: fixed;
	bottom: 0;
	height: 50px;
}
.tap-bar img {
	width: 9%;
	margin: 8px 5%;
}
.header-logo {
	width: 30px;
	position: absolute;
	top: 15px;
	right: 5px;
}
/* Likwidacja marginesów po bokach.*/
#dzialalnosc .ui-content, #watchguard .ui-content{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.question{
	padding-top: 10px;
	font-family: SourceSansPro-Semibold, sans-serif !important;
}

.memberName{
	font-size: 26px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.memberFunction{
	padding-top: 1px;
	margin-top: 0px;
}

 #watchguard .ui-content {
	padding-top: 33px;
}
.dzialanosc-img {
	width: 100%;
}
.ui-bar-a {
	border: 0;
}
#kontakt .ui-content {
	height: 100%;

}
#kontakt-images img {
	width: 60%;
}
#kontakt-images .ui-block-a {
	text-align: right;
}
#kontakt-images .ui-block-b {
	text-align: center;
}
#kontakt-images .ui-block-c {
	text-align: left;
}
#kontakt-images div.ui-grid-a img {
	width: 40% !important;
}
#kontakt-images div.ui-grid-a div.ui-block-a {
	text-align: right;
	padding-right: 15px;
}
#kontakt-images div.ui-grid-a div.ui-block-b {
	text-align: left;
	padding-left: 15px;
}
img.contanct-dragon-green {
	width: 90%;
	display: block;
	margin: 0 auto;
}
div.contact-find-text {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}

/*Top bar shadow fix*/

.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
}
