@font-face{
    font-family: SourceSansPro-Light;
    src: url('./font/SourceSansPro-Light.otf');
}

@font-face{
    font-family: SourceSansPro-Semibold;
    src: url('./font/SourceSansPro-Semibold.otf');
}

body {
    font-size: 12px;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
}
.content {
	background-image: url('./img/bg.png') !important;
    background-repeat: repeat-y;
    text-align: justify;
}
body * {
	font-family: SourceSansPro-Light, sans-serif !important;
	-webkit-box-shadow:  0 0 0 0;
	box-shadow:  0 0 0 0;
}
.content {
	padding-top: 42px;
}
.top-bar h1 {
	margin-top: 15px;
}

h2 {
	text-align: center;	
}

.top-bar {
	height: 45px;
	background: #f7941d;
	margin-top: -13px;
	text-align: center;
	color: #f7f5ea;
	padding-top: 1px;
	position: fixed;
	width: 100%;
}
.ui-body-c, .ui-overlay-c {
	background-image: url('./img/bg.png') !important;
    background-repeat: repeat-y;
}
.img-container img {
	width: 100%;
}


.benefits-list {
	float: left;
	width: 60%;
}
.benefits-list ul {
	margin: 0;
}

#line {
	background-image: url('./img/members_line_new_colors.png') !important;
	background-repeat: repeat-y;
	background-position: center;
	

}

.benefits-list h2 {
	font-size: 15px;
}
.tap-bar {
	text-align: center;
    background-image: url('./img/tabbar-bg.png');
    width: 100%;
    position: fixed;
	bottom: 0;
	height: 50px;
	z-index: 999;
}
.tap-bar img {
	width: 9%;
	margin: 8px 5%;
}
.header-logo {
	width: 30px;
	position: absolute;
	top: 15px;
	right: 5px;
}

.header-backbutton {
	width: 25px;
	position: absolute;
	top: 17px;
	left: 5px;
}

a span {
	color: #707070;
	text-decoration: none;
}

/* Likwidacja marginesów po bokach.*/
#dzialalnosc .ui-content, #watchguard .ui-content, #leper .ui-content, #szumiec .ui-content, #trela .ui-content, #jablonski .ui-content, #czlonkowie .ui-content, #zysk .ui-content{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/* Likwidacja marginesów po bokach.*/
#dzialalnosc .ui-content, #watchguard .ui-content, #sfi .ui-content, #android .ui-content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#watchguard .ui-content, #sfi .ui-content, #android .ui-content {
	padding-top: 33px;
}
.branch_right a, .branch_left a {
	font-size: 100%;
	text-decoration: none;
	color: gray;
}
#jablonski_circle a span {
	left: 19%;
}
.branch_right img { 
	z-index: 0;
	position: relative;
	width: 50%;
	display: block;
	margin-left: 50%;
	margin-right: auto;
}

.branch_left img{
	z-index: 0;
	position: relative;
	width: 50%;
	display: block;
	margin-right: 50%;
	margin-left: auto;
	
}


.branch_left a span {
	position: relative;
	left: 15%;
	bottom: 12px;
}
.branch_right a span {
	position: relative;
	right: 15%;
	bottom: 12px;

}

.memberName {
	font-size: 26px;
	line-height: 80%;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.memberFunction {
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.memberDescription {
	padding-left: 15px;
	padding-right: 15px;
}

 #watchguard .ui-content {
	padding-top: 33px;
}
.dzialanosc-img {
	width: 100%;
}
.ui-bar-a {
	border: 0;
}
#kontakt .ui-content {
	height: 100%;

}
#kontakt-images img {
	width: 60%;
}
#kontakt-images .ui-block-a {
	text-align: right;
}
#kontakt-images .ui-block-b {
	text-align: center;
}
#kontakt-images .ui-block-c {
	text-align: left;
}
#kontakt-images div.ui-grid-a img {
	width: 40% !important;
}
#kontakt-images div.ui-grid-a div.ui-block-a {
	text-align: right;
	padding-right: 15px;
}
#kontakt-images div.ui-grid-a div.ui-block-b {
	text-align: left;
	padding-left: 15px;
}
img.contanct-dragon-green {
	padding-top: 10px;
	width: 90%;
	display: block;
	margin: 0 auto;
}

img.notification-dragon-green {
	padding-top: 10px;
	width: 60%;
	display: block;
	margin: 0 auto;
}

img.notification-map {
	float:right;
	border: dotted 1px gray;
}

div.contact-find-text {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}

.top-bar {
	z-index: 9999;
}


a {
	text-decoration: none !important;
}
/*Top bar shadow fix*/

.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
}

.dzialanosc-title {
	font-size: 160%;
	color: #fff;
	display: block;
	position: absolute;
	top: 31%;
	right: 10%;
	text-align: right;
}
.dzialanosc-content-bar {
	min-width: 12%;
	float: left;
	height: 100%;
}
.dzialanosc-content-bar img {
	width: 30%;
	padding-top: 70%;
	margin-left: 30%;
}
.dzialanosc-content-content {
	float: left;
	width: 76%;
}

#zysk .ui-grid-a{
	background-color: #f7941d;
	color: white;
	
}

#zysk .ui-block-b img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#zysk .ui-block-b { 
	text-align: center;
	width: 20%;
}
#zysk .ui-block-a { 
	text-align: justify;
	width: 80%;
}
.dzialanosc-content-title {
	font-size: 20px;
	font-family: SourceSansPro-Bold;
	font-weight: bold;
}

.benefits_separator{
	background-color: white;
	width: 100% !important;
	height: 5px;
}



#leperLink{
	text-decoration: underline;
}
