@font-face{
    font-family: SourceSansPro-Light;
    src: url('./fonts/SourceSansPro-Light.otf');
}

body {
    background-image: url('./img/bg.png');
    background-repeat: repeat-y; 
    font-family: SourceSansPro-Light, sans-serif;
    font-size: 12px;
	margin: 0;
	padding: 0;
}

div#tabbar{
    background-image: url('./img/tabbar-bg.png');
    width: 100%;
    position: absolute;
	bottom: 0;
	height: 30px;
}